/* Final Video Styles */
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;



  /* justify-content: flex-start; */
  /* justify-content: center; */
  /* align-content: flex-start; */
  /* align-items: center; */
}

.flexbox-item {
  /* width: 300px; */
  margin: 10px;
  /* border: 3px solid #333; */
  background-color: #dfdfdf;
}

.flexbox-item-left {
  align-items: flex-start;
  /* width: 300px; */
  margin: 10px;
  /* border: 3px solid #333; */
  background-color: #dfdfdf;
}

.flexbox-item-full {
  width: 100%;
  margin: 10px;
  /* border: 3px solid #333; */
  background-color: #dfdfdf;
}

.flexbox-item-1 {
  /* flex: 1 0 0; */
  /* min-height: 300px; */
  flex-shrink: 0;

  /* align-self: flex-end; */
  /* order: 3; */
}

.flexbox-item-2 {
  /* min-height: 200px; */
  flex-shrink: 0;

  /* flex-grow: 2;
  flex-basis: 0;
  align-self: center; */
  /* order: 1; */
}

.flexbox-item-3 {
  /* min-height: 300px; */
  flex-shrink: 0;

  /* flex-grow: 1;
  flex-basis: 0; */
  /* order: 2; */
}
